.signupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  width: 500px;
  height: 500px;
  form {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 80%;
    input {
      padding: 1rem;
      margin-top: 1rem;
    }
    button {
      cursor: pointer;
      padding: 1rem;
      margin-top: 1rem;
      width: 100%;
      background-color: beige;
      border: 1ps solid gray;
      color: rgb(38, 38, 223);
      font-size: 1.2rem;
      font-weight: 700;
      &:hover {
        background-color: aqua;
      }
    }
  }
}
